<div class="editor-row">
  <div class="section gf-form-group">
    <div ng-repeat="(index, mapping) in ctrl.getChartPanel().columnMappings track by index">
      <div class="gf-form">
        <span class="gf-form-label width-auto">Column</span>
        <div class="gf-form-select-wrapper width-auto">
          <select
            class="gf-form-input"
            ng-model="mapping.columnName"
            ng-options="ct as (ct === null ? '--- NONE ---' : ct) for ct in [null].concat(ctrl.data.columnTexts)"
            ng-change="ctrl.renderNow()"
          >
          </select>
        </div>
        <button class="btn btn-danger" ng-click="ctrl.removeMapping(mapping)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-auto">Name As</label>
        <input
          type="text"
          class="gf-form-input width-auto"
          ng-model="mapping.nameAs"
          ng-change="ctrl.renderNow()"
          placeholder="Placeholder name instead of original column name"
          ng-model-onblur
        />
      </div>
      <br />
    </div>
    <div>
      <button class="btn btn-success" ng-click="ctrl.addMapping()">
        <i class="fa fa-plus-circle"></i>
        Add A Mapping
      </button>
    </div>
  </div>
</div>
