<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Detangle</h5>
    <gf-form-switch
      class="gf-form"
      label="Combination"
      label-class="width-12"
      checked="ctrl.panel.detangle.combinationCalculation"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Coupling & Cohesion"
      label-class="width-12"
      checked="ctrl.panel.detangle.coupling"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Committer"
      label-class="width-12"
      checked="ctrl.panel.detangle.committer"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Debt"
      label-class="width-12"
      checked="ctrl.panel.detangle.debt"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Feature Debt"
      label-class="width-12"
      checked="ctrl.panel.detangle.featureDebt"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Defect Effort Risk"
      label-class="width-12"
      checked="ctrl.panel.detangle.defectRisk"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Knowledge Distribution"
      label-class="width-12"
      checked="ctrl.panel.detangle.knowledgeDistribution"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Cost Calculation"
      label-class="width-12"
      checked="ctrl.panel.detangle.cost"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <div class="gf-form" ng-show="ctrl.panel.detangle.knowledgeDistribution">
      <label class="gf-form-label width-12">Distinct Developer Count</label>
      <input
        type="text"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.developerCount"
        ng-change="ctrl.refresh()"
        ng-model-onblur
      />
    </div>
    <gf-form-switch
      class="gf-form"
      label="Normalized"
      label-class="width-12"
      checked="ctrl.panel.detangle.isNormalized"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Defect"
      label-class="width-12"
      checked="ctrl.panel.detangle.defect"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Ratio"
      label-class="width-12"
      checked="ctrl.panel.detangle.ratio"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Show # Neighbours"
      label-class="width-12"
      checked="ctrl.panel.detangle.showNeighbourCount"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Issue/File-Pair Cond."
      label-class="width-12"
      tooltip="Evaluate the ratio of different vs. common file/issue connections of issue/file-pairs"
      checked="ctrl.panel.detangle.applyDifferentCommonCondition"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <div class="gf-form" ng-if="ctrl.panel.detangle.applyDifferentCommonCondition">
      <label class="gf-form-label width-12">Threshold Dif. vs Common</label>
      <input
        type="number"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.differentCommonConditionThreshold"
        placeholder="0.75"
        ng-change="ctrl.refresh()"
        ng-model-onblur
        data-placement="right"
      />
    </div>
  </div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Data</h5>
    <gf-form-switch
      class="gf-form"
      label="Reference Calc."
      label-class="width-12"
      checked="ctrl.panel.detangle.referenceCalculation"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Is Estimation"
      label-class="width-12"
      checked="ctrl.panel.detangle.isEstimation"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <div class="gf-form" ng-show="ctrl.panel.detangle.isEstimation">
      <label class="gf-form-label width-12">Estimation Method</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.detangle.estimationMethod"
          ng-options="item.value as item.text for item in ctrl.estimationMethods"
          ng-change="ctrl.refresh()"
        >
        </select>
      </div>
    </div>
    <gf-form-switch
      class="gf-form"
      label="Apply Folder Level"
      label-class="width-12"
      checked="ctrl.panel.detangle.applyFolderLevel"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Multi Project"
      label-class="width-12"
      checked="ctrl.panel.detangle.multiProject"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label="Metric Ratio"
      label-class="width-12"
      checked="ctrl.panel.detangle.calculateMetricRatio"
      on-change="ctrl.refresh()"
      ng-show="ctrl.panel.detangle.combinationCalculation"
    >
    </gf-form-switch>
  </div>
</div>
