<style type="text/css">
  .canvas-dropdowns {
    position: absolute;
    right: 10px;
    z-index: 1000;
  }

  .full_width_height {
    width: 100%;
    height: 100%;
  }
</style>

<div class="chartContainer">
<div class="canvas-dropdowns" ng-if="ctrl.panel.showDropdowns">
  <div ng-if="ctrl.isActiveOption('xAxesColumnName')" class="gf-form">
      <span class="gf-form-label width-8">X-Axis</span>
      <div class="gf-form-select-wrapper width-auto">
        <select class="gf-form-input"
          ng-model="ctrl.getChartPanel().xAxesColumnName"
          ng-options="ct for ct in ctrl.data.columnTexts"
          ng-change="ctrl.renderNow()">
        </select>
      </div>
    </div>
    <div ng-if="ctrl.isActiveOption('yAxesColumnName')" class="gf-form">
      <span class="gf-form-label width-8">Y-Axis</span>
      <div class="gf-form-select-wrapper width-auto">
        <select class="gf-form-input"
          ng-model="ctrl.getChartPanel().yAxesColumnName"
          ng-options="ct for ct in ctrl.data.columnTexts"
          ng-change="ctrl.renderNow()">
        </select>
      </div>
    </div>
    <div ng-if="ctrl.isActiveOption('measureColumnName')" class="gf-form">
      <span class="gf-form-label width-8">Bubble Size</span>
      <div class="gf-form-select-wrapper width-auto">
        <select class="gf-form-input"
          ng-model="ctrl.getChartPanel().measureColumnName"
          ng-options="ct for ct in ctrl.data.columnTexts"
          ng-change="ctrl.renderNow()">
        </select>
      </div>
    </div>
    <div class="gf-form" ng-if="ctrl.isActiveOption('minRadius')">
      <label class="gf-form-label width-8">Bubble Min</label>
      <input type="number"
        class="gf-form-input width-4"
        min="1"
        max="80"
        data-placement="right"
        ng-model="ctrl.getChartPanel().minRadius"
        ng-change="ctrl.renderNow()"
      />
    </div>
    <div class="gf-form" ng-if="ctrl.isActiveOption('maxRadius')">
      <label class="gf-form-label width-8">Bubble Max</label>
      <input type="number"
        class="gf-form-input width-4"
        min="1"
        max="80"
        data-placement="right"
        ng-model="ctrl.getChartPanel().maxRadius"
        ng-change="ctrl.renderNow()"
      />
    </div>
    <div class="gf-form" ng-if="ctrl.isActiveOption('maxScalingValue')">
      <label class="gf-form-label width-8">Scaling Max</label>
      <input type="number"
        class="gf-form-input width-4"
        data-placement="right"
        ng-model="ctrl.getChartPanel().maxScalingValue"
        ng-change="ctrl.renderNow()"
      />
    </div>
</div>
<div class="canvasContainer full_width_height"></div>
</div>
